{{!-- Is there any point in having 'action="/signin/"' in the form attribute? --}}
<form method="POST">
    <input type="email" name="email" required>
    <input type="password" name="password" required>
    <button type="submit">Sign In</button>
</form>