<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        
        <main>
            {{{body}}}
        </main>
       
        {{!-- {{> footer}} --}}
        
        {{> scripts}}
        {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
    </body>
</html>
