{{!-- same question as sign up: action="/users/"
cuz then the route is /users/ and home load but won't work right, user won't sign in after signing up this way. --}}
<form action="/setup/" method="POST">
    <label for="first_name">First Name:</label>
    <input type="first_name" name="first_name" required>
    <label for="last_name">Last Name:</label>
    <input type="last_name" name="last_name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    
    <button type="submit">Sign Up</button>
</form>