@import 'heart.scss';
// @import 'enter.scss';

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

// Colors
$bg-color: #1370FB;
$dot-color: #3882E8;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
