$main: #087cb8;;
$text: #0d4062;
$light: #f3f3f3;
$white: #fff;
$secondary: #32db64;
$danger: #fa4359;

$darkbg: #303030;
$verydark: #15141f;
$purple: #6400e4;
$mint: #6df0c2;
$yellow: #ffc740;
$lightgray: #2341AD;

$textfont: 'Montserrat', serif;